:root {
    color-scheme: light dark;
    --bs-body-bg: #e0e0e0;
    --progress-bg: #f0f0f0;
    --border-color: #000;
    font-family: Arial, sans-serif;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #fff;
    --bs-body-bg: #000;
    --progress-bg: #111;
    --border-color: #e0e0e0;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.nav-item:hover {
    background-color: #eee;
}

.team-color {
    background-color: var(--team-color);
}

.team-col {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/3;
    max-height: 90vh;
    padding: 2rem;
    outline: .125rem solid var(--team-color);
    outline-offset: -1rem;
    border-radius: 1.5rem;
    opacity: .5;
    transition: opacity linear .15s;
}

    .team-col.active {
        opacity: 1;
    }

    .team-col[disabled] {
        opacity: 0;
    }

    .team-col .points {
        font-size: 8rem;
    }

        .team-col .points + p {
            font-size: 3rem;
        }

    .team-col h1 {
        word-spacing: 10vw;
    }

    .team-col .middle-item {
        height: 20rem;
        aspect-ratio: 1/2;
        overflow: hidden;
    }

.progress-vertical {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--progress-bg);
    border: .0625rem solid var(--border-color);
    border-radius: .5rem;
}

.progress-bar-vertical {
    transition: height .2s ease-out;
}
