:root {
    --bg: #e0e0e0;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--bg);
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.nav-item:hover {
    background-color: #eee;
}

.col-centered {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.points {
    font-size: 3rem;
    font-family: Arial, sans-serif;
}

.grid-columns {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
}

.team-color {
    background-color: var(--team-color);
}
