@{
    ViewData["Title"] = "Volume Dashboard";
}

@section Scripts
{
    <script type="text/javascript" src="~/js/points.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-4 col-centered">
        <div class="headline-group">
            <h1>Team Grün</h1>
            <h2 class="points" data-team="Team0" class="team-points">0</h2>
        </div>
        <img class="w-100" src="~/img/man1.png" alt="man1" />
    </div>
    <div class="col-4 col-centered">
        <div class="headline-group">
            <h1>Team Flieder</h1>
            <h2 class="points" data-team="Team1" class="team-points">0</h2>
        </div>
        <img class="w-100" src="~/img/man2.png" alt="man2" />
    </div>
    <div class="col-4 col-centered">
        <div class="headline-group">
            <h1>Team Rot</h1>
            <h2 class="points" data-team="Team2" class="team-points">0</h2>
        </div>
        <img class="w-100" src="~/img/man3.png" alt="man3" />
    </div>
</div>
