@{
    ViewData["Title"] = "Volume Dashboard";
}

@section Scripts {
    <script type="text/javascript" src="~/js/volume.js"></script>
}

<div class="row">
    <div class="col-4">
        <h1>Team Grün</h1>
        <div class="progress" role="progressbar">
            <div class="progress-bar team-green" data-team="Team0" style="width: 0%"></div>
        </div>
        <img class="w-100" src="~/img/man1.png" alt="man1" />
    </div>
    <div class="col-4">
        <h1>Team Flieder</h1>
        <div class="progress" role="progressbar">
            <div class="progress-bar team-lilac" data-team="Team1" style="width: 0%"></div>
        </div>
        <img class="w-100" src="~/img/man2.png" alt="man2" />
    </div>
    <div class="col-4">
        <h1>Team Rot</h1>
        <div class="progress" role="progressbar">
            <div class="progress-bar team-red" data-team="Team2" style="width: 0%"></div>
        </div>
        <img class="w-100" src="~/img/man3.png" alt="man3" />
    </div>
</div>
