@model IEnumerable<TeamViewModel>

@{
    ViewData["Title"] = "Volume Dashboard";
}

@section Scripts
{
    <script type="text/javascript" src="~/js/volume.js" asp-append-version="true"></script>
}

<div class="row">
    @foreach (var team in Model)
    {
        <partial name="_TeamProgressBar" model="team" />
    }
</div>
