@{
    ViewData["Title"] = "Volume Dashboard";
}

@section Scripts {
    <script type="text/javascript" src="~/js/volume.js"></script>
}

<div class="row">
    <div class="col">
        <h1>Team Grün</h1>
        <div class="progress" role="progressbar">
            <div class="progress-bar team-green" data-team="Team0" style="width: 0%"></div>
        </div>
    </div>
    <div class="col">
        <h1>Team Flieder</h1>
        <div class="progress" role="progressbar">
            <div class="progress-bar team-lilac" data-team="Team1" style="width: 0%"></div>
        </div>
    </div>
    <div class="col">
        <h1>Team Rot</h1>
        <div class="progress" role="progressbar">
            <div class="progress-bar team-red" data-team="Team2" style="width: 0%"></div>
        </div>
    </div>
</div>
